body {
	background-color: #FAFAFA;
}

body,
p,
a {
  color: #424F59;
  text-decoration: none;
}

a:hover {
	color: #0092DB;
}

sup {
	font-family: Clear Sans, Helvetica, sans-serif;
	color: #C0C9D0;
	top: -4px;
  	font-weight: 100;
  	line-height: 0;
  	position: relative;
  	vertical-align: baseline;
}

.large {
	font-size: 96px;
	line-height: 96px;
}

.palette {
	width: 100%;
	position: relative;
	margin: 0 10px 10px 10px;
}

.palette p {
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
	position: absolute;
	margin-top: 15px;
}

.palette span {
	font-family: ClearLight, Helvetica, sans-serif;
}

.circle {
	width: 60px;
	height: 60px;
	display: inline-block;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin: 10px 10px 10px 10px;
}

.light-grey {
	background-color: #CFD9E1;
}

.blue-grey {
	background-color: #C0CCD6;
}

.dark-grey {
	background-color: #43484E;
}

.droid-orange {
	background-color: #FD9326;
}

.droid-black {
	background-color: #222222;
}

.droid-dgrey {
	background-color: #777777;
}

pre {
    border-left: 5px solid #C0CCD6;
    padding-left: 15px;
}

pre > code {
    white-space: pre-wrap;
}

.example {
    border: 1px #DDD solid;
    border-radius: 4px 4px 0px 0px;
    box-shadow: none;
    padding: 45px 15px 15px;
    position: relative;
    margin-bottom: 1.875rem;
}

.example:after {
    content: "Example";
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #BBB;
    text-transform: uppercase;
    letter-spacing: 1px;
}
