body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
*
*  Consistency fixes
*  adopted from http://necolas.github.com/normalize.css/
*
*/

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*@font-face{
  font-family: 'FiraLight';
  src: url('../fonts/FiraSansOT-Light.otf') format("opentype");
}

@font-face{
  font-family: 'FiraRegular';
  src: url('../fonts/FiraSansOT-Regular.otf') format("opentype");
}*/

@font-face{
  font-family: 'ClearSans';
  src: url('../fonts/ClearSans-Regular.ttf');
}

@font-face{
  font-family: 'ClearLight';
  src: url('../fonts/ClearSans-Light.ttf');
}

@font-face{
  font-family: 'CharisRegular';
  src: url('../fonts/CharisSILCompact-R.ttf');
}

@font-face {
	font-family: 'CharisBold';
	src: url('../fonts/CharisSILCompact-B.ttf');
}

/*.fira-font {
	font-family: FiraRegular, Helvetica, sans-serif;
}*/

.clear-font {
	font-family: ClearSans, Helvetica, sans-serif;
}

.clear-fontL {
	font-family: ClearLight, Helvetica, sans-serif;
}

.charis-font {
	font-family: CharisRegular, Helvetica, sans-serif;
}

.charis-fontB {
	font-family: CharisBold, Helvetica, sans-serif;
}

h1 {
  font-family: ClearLight, Helvetica, sans-serif;
  font-size: 32px;
  line-height: 42px;
  color: #424F59;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-family: ClearSans, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 36px;
  color: #424F59;
  padding-bottom: 20px;  
}

h3 {
  font-family: CharisRegular, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #424F59;
  padding-bottom: 20px;
}

body {
	background-color: #FAFAFA;
}

body, p, a {
  font-family: ClearSans, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #424F59;
  text-decoration: none;
  padding-bottom: 20px;
}

a:hover {
	color: #0092DB;
}

sup {
	font-family: ClearSans, Helvetica, sans-serif;
	color: #C0C9D0;
	top: -4px;
  	font-size: 12px;
  	font-weight: 100;
  	line-height: 0;
  	position: relative;
  	vertical-align: baseline;
}

.large {
	font-size: 96px;
	line-height: 96px;
}

.palette {
	width: 100%;
	position: relative;
	margin: 0 10px 10px 10px;
}

.palette p {
	font-size: 12px;
	line-height: 16px;
	display: inline-block;
	position: absolute;
	margin-top: 15px;
}

.palette span {
	font-family: ClearLight, Helvetica, sans-serif;
}

.circle {
	width: 60px;
	height: 60px;
	display: inline-block;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	margin: 10px 10px 10px 10px;
}

.light-grey {
	background-color: #CFD9E1;	
}

.blue-grey {
	background-color: #C0CCD6;	
}

.dark-grey {
	background-color: #43484E;
}

.droid-orange {
	background-color: #FD9326;
}

.droid-black {
	background-color: #222222;
}

.droid-dgrey {
	background-color: #777777;
}


@media screen and (min-width: 320px) {
	#container {
		width: 320px;
		margin: 60px auto;
		word-wrap: break-word;
	}

	.col-4of4 {
		width: 100%;
		float: left;
		padding: 0 10px 0 10px;
	}
}

@media screen and (min-width: 480px) {
	#container {
		width: 480px;
		margin: 60px auto;
		word-wrap: break-word;
	}

	.col-3of6 {
		width: 50%;
		float: left;
		padding: 0 10px 0 10px;
	}

	.col-6of6 {
		width: 100%;
		float: left;
		padding: 0 10px 0 10px;
	}
}

@media screen and (min-width: 600px) {
	#container {
		width: 600px;
		margin: 60px auto;
		word-wrap: break-word;
	}

	.col-2of6 {
		width: 33.33%;
		float: left;
	}

	.col-3of6 {
		width: 50%;
		float: left;
	}

	.col-6of6 {
		width: 100%;
		float: left;
	}
}

@media screen and (min-width: 720px) {
	#container {
		width: 720px;
		margin: 60px auto;
		word-wrap: break-word;
	}

	.col-3of9 {
		width: 33.33%;
		float: left;
	}

	.col-6of9 {
		width: 66.66%;
		float: left;
	}

	.col-9of9 {
		width: 100%;
		float: left;
	}
}

@media screen and (min-width: 960px) {
	#container {
		width: 960px;
		margin: 60px auto;
		word-wrap: break-word;
	}

	.col-3of12 {
		width: 25%;
		float: left;
	}

	.col-4of12 {
		width: 33.33%;
		float: left;
	}

	.col-6of12 {
		width: 50%;
		float: left;
	}

	.col-12of12 {
		width: 100%;
		float: left;
	}
}

























