body, p, a {
    font-family: Clear Sans, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 20px;
}

h1 {
    font-family: ClearLight, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 42px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    font-family: Clear Sans, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 20px;
}

h3 {
    font-family: CharisRegular, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 20px;
}

sup {
    font-size: 12px;
}
